body{
    font-family: Arial, Helvetica, sans-serif;
}
ul li{
    display: inline;
    padding: 15px;
}
header{
    background-color: rgb(0, 0, 0);
    padding: 20px;
}
ul li a{
    text-decoration: none;
    color: white;
}
section{
    padding-bottom: 12%;
}
footer{
    background-color: darkgreen;
    padding: 15px;
}